
.navbar{
    border-top-left-radius:     0px 0px;
    border-top-right-radius:    0em 0em;
    border-bottom-right-radius: 0em 0em;
    border-bottom-left-radius:  0em 0em;
}

.logo {
    
    
    border-top-left-radius:     0px 0px;
    border-top-right-radius:    0em 5em;
    border-bottom-right-radius: 0em 5em;
    border-bottom-left-radius:  5em 5em;
    padding:0px 0;
    margin: 0px;
    }