<aside class="main-sidebar">
    <STYLE>A {text-decoration: none;} </STYLE>
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left info" style="position: initial;">
                <p><b>IPUC Tercera Aracataca</b></p>
                <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" style="text-align: center; color: white;">
                <b>CENTRO DE ACCIONES</b>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Gestion de Miembros</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a routerLink="/miembroRegistro">Registro de Miembros</a></li>
                    <li><a routerLink="/miembroConsulta">Consulta de Miembros</a></li>
                    
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-money"></i>
                    <span>Gestion de Finanzas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a routerLink="">Registro de ingresos</a></li>
                    <li><a routerLink="">Registro de egresos</a></li>
                    <li><a routerLink="">Fondo unico</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar"></i>
                    <span>Gestion de eventos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a routerLink="">Registrar eventos</a></li>
                    <li><a routerLink="">Consultar eventos</a></li>
                </ul>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list-alt"></i>
                    <span>Reportes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a routerLink="">Reporte de miembros</a></li>
                    <li><a routerLink="">Reporte de Finanzas</a></li>
                    <li><a routerLink="">Reporte de Eventos</a></li>
                </ul>
            </li>
            <ul class="sidebar-menu" data-widget="tree" style="margin-top: 150px;">
                <li class="treeview">
                    <a style="cursor: pointer;" ><i class="fa fa-sign-out" ></i><span>Cerrar Sesion</span></a>
                </li>
            </ul>
            
        </ul>
        
    </section>
</aside>
